@import url(reset.css);
@import url("https://use.typekit.net/jqe2tos.css");

:root{
    --background-color: #090D0B;
    --gray-one: #D7D9D8;
    --gray-two: #A6A39F;
    --white-one: #F2F2F2;
    --cor-destaque: rgb(173,9,12);
}

body{
    color: var(--white-one);
    font-family: "tassista", sans-serif;
    background-color: var(--white-one);
}

.content-header{
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
}

.container-header{
    display: flex;
    width: 20rem;
    justify-content: center;
}

.list-item{
    display: flex;
    gap: 1rem;
}

.title-item{
    font-size: 1.6rem;
}

.link-item{
    text-decoration: none;
    color: var(--white-one);
}

.link-item:hover{
    color: var(--cor-destaque);
}

.icon-image{
    width: 16rem;
    object-fit: cover;
}

main{
    display: flex;

    margin-top: 3rem;
}

.left, .right {
    flex: 1;
    padding: 10px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.carrossel {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra nos carrosséis */
    background-color: white;
    border-radius: 10px;
    background-image: url(../images/smoke-overlay-texture.jpg);
    height: 20rem;
    background-position: center;
    background-size: cover;
}

.title-carrosel{
    text-align: center;
    margin: 1rem 0;
    color: var(--cor-destaque);
    font-size: 2rem;
}

#carrosel2 {
    margin-left: 20px; /* Ajuste conforme necessário para mover o segundo carrossel para a direita */
}

#carrosel1, #carrosel3{
    margin-right: 20px;
}

.carrossel-inner {
    display: flex;
    width: 500%;
    transition: transform 0.5s ease-in-out;
}

.subtitle-carrosel, .description-carrosel{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.subtitle-carrosel{
    font-weight: 800;
    font-size: 2rem;
}

.description-carrossel{
    font-size: 1.8rem;
}

.carrossel-item {
    width: 19%;
    flex: none;
    text-align: center;
    padding: 10px;
}
.carrossel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carrossel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.right img {
    height: 20rem;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra nas imagens */
    border-radius: 10px; /* Bordas arredondadas para um efeito mais suave */
}
.right img:last-child {
    margin-bottom: 0;
}

.right{
    display: flex;
    flex-direction: column;
}